if logged
  a(href="/post", style="color: #ffffff;")
    .fab#fab
      span.fa.fa-plus

  nav(class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation")
    a.navbar-brand(href="/"): img(src="/icon.svg" height="45px")
    .create
      a.nav-btn(href="/post", style="color: #ffffff;") Create Post              
    button(style="width:70px; border-color: #ffffffb3;" type="button" class="navbar-toggler" id="toggler" data-toggle="collapse" data-target="#bs")
      span(class="navbar-toggler-icon")
    div( class="collapse navbar-collapse flex-row-reverse" id="bs")
      ul(class="navbar-nav")
        li.nav-item.inside
          a.nav-btn(href="/post", style="color: #ffffff;") Create Post
        li.nav-item
          a(href="/feed/approved") Approved
        li.nav-item
          a(href="/supporters") Supporters
        if mod
          li.nav-item
            a(href="/mods") Mod
        li.nav-item
          a(href=`/@${username}`) Profile
        li.nav-item
          a(href="/auth/logout") Logout
else
  nav(class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation")
    a.navbar-brand(href="/"): img(src="/icon.svg" height="30px")
    .create
      a.nav-btn(href="/auth", style="color: #ffffff;") Login    
    button(style="width:70px; border-color: #ffffffb3;" type="button" class="navbar-toggler" id="toggler" data-toggle="collapse" data-target="#bs")
      span(class="navbar-toggler-icon")
    div( class="collapse navbar-collapse flex-row-reverse" id="bs")
      ul(class="navbar-nav")
        li.nav-item.inside
          a.nav-btn(href="/auth", style="color: #ffffff;") Login
        li.nav-item
          a(href="/feed/approved") Approved
        li.nav-item
          a(href="/faq") FAQ
        li.nav-item
          a(href="/supporters") Supporters
        li.nav-item
          a(href="https://signup.steemit.com/") Sign Up
