extends layout

block content
  include partials/nav
  
  main
    h1 Create Comment
    form(action=`/post/comment/@${author}/${permlink}` method="post" id="form")
      label 1) Choose Your Meme
      div(class="collapse show" id="collapseExample")
        div(class="card card-body" style="display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-evenly;")
          each image in images
            img(src=`https://memeit.lol/photos/memes/thumbnail/${image}` width="50" height="50" onclick=`window.change('https://memeit.lol/photos/memes/thumbnail/${image}');$('html, body').animate({scrollTop: $("#t").offset().top}, 500);`)
      div#t
      canvas(id="canvas")
      label 2) Add Text
      input(id="text" type="text")
      button(id="add" onclick="addText();") Add More Text
      input(type="hidden" name="image" id="image")
      button(id="submitBTN") Submit
  script(src="/js/new.js")