extends layout

block content
  include partials/nav2
  
  main
    h1= "FAQ"
    body
    h2 What is Steemit.LOL?
    p You can use Steemit.LOL to create original memes and post them to the Steem Blockchain.
    h2 What is Steem?
    p Steem is a Smart & Social cryptocurrency that features a daily rewardpool to incentivize content creation.
    p The unique properties of STEEM make it both “smart” and “social” compared to others, such as bitcoin and ether. This stems from two new token features.
    p The first is a pool of tokens is dedicated to incentivizing content creation and curation (called the “rewards pool”). The second is a voting system that leverages the wisdom of the crowd to assess the value of content and distribute tokens to it
      
    h2 How can I get Steem?
    p You can get Steem by posting content on Steemit.LOL or by purchasing it from top exchanges like Upbit, Bittrex or Binance.
    
    h2 How do I Signup?
    p You can join by following this link => #[a(href="https://signup.steemit.com/") Sign up Now!]

    h2 How can I get upvotes from Steemit.LOL?
    p You can get upvotes by posting content on Steemit.LOL. If you post quality memes and use them properly, moderators and users will see your content and upvote you accordingly. If your meme is popular and published, it'll get bonus upvotes from steemit.LOL
    
    h2 How are rewards distributed?
    p 75% of the post reward goes to the author.
    p 12% goes to our supporters
    p 3% goes to our Moderators (coming soon)
    p 10% goes to Steemit.LOL
    h2 How do I become a supporter?
    p To become a supporter, you have to delegate Steem Power to @steemit.LOL - Supporters receive 12% of the rewards of every post on Steemit.LOL
    p By delegating Steem Power, you are lending your Steem Power to us while maintaining ownership.

    h4 #[a(href="/supporters") Support Steemit.LOL]

    h2 How do I become a moderator?
    p Moderation system coming soon!

    h4 #[a(href="/auth") Login with Steemconnect] or #[a(href="steemit.com/signup") Sign up Now!]