extends layout

block content
  include partials/nav2
  
  main
    h1= "Welcome to Steemit.LOL"
    body
    p You can use Steemit.LOL to create original memes and post them to the Steem Blockchain.<br> Our in-house moderator team will determine which memes get published and which memes get hidden.<br> Bring your dankest original memes and get published today!
    h4 #[a(href="/auth") Login with Steemconnect] or #[a(href="https://signup.steemit.com/") Sign up Now!]