extends layout

block content
  include partials/nav
  
  main
    h1 Vote For Posts
    each post in posts
      div(class="modPost")
        img(src=`http://via.placeholder.com/500x500`)
        div(class="modControls")
          button(id="Accept" data-post=`${post.author}/${post.permlink}`) Accept
          button(id="Decline" data-post=`${post.author}/${post.permlink}`) Decline
  script(src="/js/mod.js")