extends layout

block content
  include partials/nav
  
  main
    h1 Create Post
    form(action="/post/create-post/" method="post" id="form")
      label Title
      input(type="text" name="title")
      label Images
      div(class="collapse show" id="collapseExample")
        div(class="card card-body" style="display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-evenly;")
          each image in images
            img(src=`https://memeit.lol/photos/memes/thumbnail/${image}` width="50" height="50" onclick=`window.change('https://memeit.lol/photos/memes/thumbnail/${image}');`)
      label Meme
      canvas(id="canvas")
      label Change Text
      input(id="text" type="text")
      button(id="add" onclick="addText();") Add More Text
      label Tags
      input(type="text" name="tags")
      input(type="hidden" name="image" id="image")
      button(id="submitBTN") Submit
      p Posting as #{name}
      p #{msg}
  script(src="/js/new.js")