extends layout

block content
  include partials/nav
  
  main
    h1 Create Post
    form(action="/post/create-post/" method="post" id="form")
      label Title
      input(type="text" name="title")
      label Image
      div(class="collapse" id="collapseExample")
        div(class="card card-body")
          each image in images
            img(src=image)
      label Top
      input(type="text" id="top")
      label Bottom
      input(type="text" id="bottom")
      label Meme
      canvas(id="canvas" style="display: none;")
      img(id="img1" style="display: none;")
      img(id="img2")
      label Tags
      input(type="text" name="tags")
      input(type="hidden" name="image" id="image")
      button(id="submitBTN") Submit
      p Posting as #{name}
      p #{msg}
  script(src="/js/meme.js")