* {
  box-sizing: border-box;
}

@font-face {
  font-family: Impact;
  src: url(/impact.ttf);
}

.modPost {
  margin-bottom: 30px;
  padding: 30px;
  background-color: #F2F2F2;
}

.modControls {
  display: flex;
}

.modControls #Accept {
  background-color: #5CACF2;
  color: #ffffff;
  border: none;
  margin-right: 5px;
}

.modControls #Decline {
  background-color: #F25270;
  color: #ffffff;
  border: none;
  margin-left: 5px;
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: scale(1.1);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: scale(1.1);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}
.card > img{
  transition: all .2s ease-in-out;
}
.card > img:hover {
  -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  /* margin: 0 20px 20px 0;
  display: inline-block; */
}

.nav-link {
  color: #eeeeee !important;
}

.nav-btn {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  background-color: #F26D91 !important;
}

.navbar-dark {
  background-color: #5CACF2 !important;
}

main, aside {
  padding: 30px 15px;
  max-width: 520px;
  margin: 0 auto;
}
.tags {
  margin: 10px 0;
}
.tags span {
  border: solid 1px #ccc;
  padding: 5px;
  border-radius: 5px;
  margin: 0 5px 0 0;
}

img {
  max-width: 100%;
}
.comment {
  margin: 15px 0;
}
.comment-level-1 {
  padding-left: 15px;
}
.comment-level-2 {
  padding-left: 30px;
}
.comment-level-3 {
  padding-left: 45px;
}
na
.meta form {
  display: inline-block;
}

input, label, textarea, button {
  margin: 15px 0;
  width: 100%;
  border-radius: 3px;
  padding: 5px;
}

input, textarea {
  border: solid 1px #7b7b7b;
}

input:focus, textarea:focus {
  outline: 0;
}

textarea {
  min-height: 100px;
}

button, input[type="submit"] {
  cursor: pointer;
}

.vote {
  width: 100px;
  background: #4e5ba6;
  background: -moz-linear-gradient(-45deg,  #4e5ba6 0%, #7db9e8 100%);
  background: -webkit-linear-gradient(-45deg,  #4e5ba6 0%,#7db9e8 100%);
  background: linear-gradient(135deg,  #4e5ba6 0%,#7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e5ba6', endColorstr='#7db9e8',GradientType=1 );
  border-radius: 3px;
  border: none;
  color: #ffffff;
  float: left;
  transition: all 0.05s ease-in-out;
}

#add {
  width: 100%;
  background: #4e5ba6;
  background: -moz-linear-gradient(-45deg,  #4e5ba6 0%, #7db9e8 100%);
  background: -webkit-linear-gradient(-45deg,  #4e5ba6 0%,#7db9e8 100%);
  background: linear-gradient(135deg,  #4e5ba6 0%,#7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e5ba6', endColorstr='#7db9e8',GradientType=1 );
  border-radius: 3px;
  border: none;
  color: #ffffff;
  transition: all 0.05s ease-in-out;
}

button.comment {
  width: 100px;
  background: #f21470;
  background: -moz-linear-gradient(-45deg, #f21470 0%, #f26d91 100%);
  background: -webkit-linear-gradient(-45deg, #f21470 0%,#f26d91 100%);
  background: linear-gradient(135deg, #f21470 0%,#f26d91 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f21470', endColorstr='#f26d91',GradientType=1 );
  border-radius: 3px;
  border: none;
  float: right;
  color: #ffffff;
  transition: all 0.05s ease-in-out;
}

#submitBTN {
  width: 100%;
  background: #f21470;
  background: -moz-linear-gradient(-45deg, #f21470 0%, #f26d91 100%);
  background: -webkit-linear-gradient(-45deg, #f21470 0%,#f26d91 100%);
  background: linear-gradient(135deg, #f21470 0%,#f26d91 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f21470', endColorstr='#f26d91',GradientType=1 );
  border-radius: 3px;
  border: none;
  color: #ffffff;
  transition: all 0.05s ease-in-out;
}

.vote:hover, button.comment:hover, #submitBTN:hover, #add:hover {
  box-shadow: 0 0 20px 1px #b5b5b5;
}

.postControls {
  display: flow-root;
}

.comment-message {
  margin-top: 20px;
}
.send-comment {
  cursor: pointer;
  display: inline-block;
  border-radius: 3px;
  padding: 10px;
  border: solid 1px #7b7b7b;
  margin: 20px 0 40px;
}


.item {
  margin-bottom: 30px;
  padding: 30px;
  background-color: #F2F2F2;
}